<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/stylesMi.css}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<title>Insert title here</title>
</head>

<body>

<div>
    <h1>Agenda</h1>
</div>

<div class="card card_paciente" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{agenda.data_tarefa}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{agenda.tarefa}}</h6>
      <a href="Editar_Agenda/{{agenda.id}}" class="card-link">Editar</a>
      <a href="Agenda_Excluir/{{agenda.id}}" class="card-link">Excluir</a>
    </div>
  </div>



<p><a href="{ url 'index' }" style="color: blue; cursor: pointer;">Voltar</a></p>
</body>
</html>





